{% load staticfiles %}
<html>
    <head>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>-->
        <!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="shortcut icon" href="{%  static 'favicon/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Gabo's blog app</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_draft_list' %}"><button class="btn btn-default btn-md float-right"> Borradores </button></a>
            <a href="{% url 'post_new' %}"><button class="btn btn-default btn-md float-right"> Nuevo </button></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
            <a href="{% url 'login' %}"><button class="btn btn-default btn-md float-right"> Login </button></a>
            {% endif %}
            <h1><a href="/">Gabo's blog app</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>
