<html>
    <head>
        <title>Gabo's blog app</title>
    </head>
    <body>
        <div>
            <h1><a href="">Gabos's blog app</a></h1>
        </div>
        <br />
        <div>
            <p>published:28.12.2017, 20:00</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Este es mi primer 
                post.</p>
        </div>
        <br />
        <div>
            <p>published:28.12.2017, 20:01</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Hi there!</p>
            <p>It works!</p>
        </div>
    </body>
</html>